.section_tailor_made_features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 96px;
    padding-left: clamp(1.25rem, -0.775rem + 8.64vw, 7rem);
    padding-right: clamp(1.25rem, -0.775rem + 8.64vw, 7rem);
}

.tailot_text_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tailot_text_block h2 {
    font-weight: 700;
    font-size: clamp(2.25rem, 1.986rem + 1.13vw, 3rem);
    text-align: center;
    letter-spacing: -0.025em;
    color: #111827;
    margin: 0;
    padding-top: 48px;
}

.tailot_text_block p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #111827;
    margin: 0;
    margin-top: 8px;
}

.tailor_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tailor_row_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(20.563rem, 16.634rem + 8.18vw, 24rem);
    margin-top: clamp(3rem, 2.046rem + 4.07vw, 4rem);
}

.tailor_row_item h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: #111827;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 8px;
}

.tailor_row_item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #374151;
    margin: 0;
    text-align: center;
    padding: 0 20px;
}