<footer class="footer">
  <nav class="nav_footer">
    <div class="footer_logo_wrap">
      <a href="#">
        <img src=".//img/svg/Logo_2.svg" alt="logo" />
      </a>
    </div>
    <div class="footer_top_list">
      <ul>
        <li>
          <a href="#">Download Now</a>
        </li>
        <li>
          <a href="#">License</a>
        </li>
      </ul>
    </div>
    <div class="footer_bottom_list">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <p>© 2021 Landify UI Kit. All rights reserved</p>
  </nav>
  <div class="btn_apk_block">
    <p>Get the App</p>
    <div class="btn_apk">
      <button class="btn_google">
        <img src=".//img/svg/googleplay_logo.svg" alt="" />
        <a href="#">
          <span class="top_text">GET IN ON</span>
          <span class="bottom_text">Google Play</span>
        </a>
      </button>
      <button class="btn_apple">
        <img src=".//img/svg/Apple_logo.svg" alt="" />
        <a href="#">
          <span class="top_text">Download on the</span>
          <span class="bottom_text">App Store</span>
        </a>
      </button>
    </div>
  </div>
</footer>
