<section class="section_general">
  <div class="text_block">
    <h1>The easiest way to manage projects</h1>
    <p>
      From the small stuff to the big picture, organizes the work so teams know
      what to do, why it matters, and how to get it done.
    </p>
    <div class="btn_text_block">
      <button class="btn_get">
        <a href="#"> Get Started </a>
      </button>

      <div class="btn_watch_video">
        <a href="#">
          <img src=".//img/pictures/icon_play.svg" alt="" />
          Watch Video
        </a>
      </div>
    </div>
  </div>
  <div class="mobile">
    <img src=".//img/pictures/iPhone_X.png" alt="" />
    <img src=".//img/pictures/Screen.png" alt="" />
  </div>
</section>
