<section class="section_manage_all">
  <div class="manage_all_text_block">
    <h2>Manage all projects from your mobile</h2>
    <p>
      Download the app to manage your projects, keep track of the progress and
      complete tasks without procastinating. Stay on track and complete on time!
    </p>
    <div class="btn_apk_block">
      <p>Get the App</p>

      <div class="btn_apk">
        <button class="btn_google">
          <img src=".//img/svg/googleplay_logo.svg" alt="" />
          <a href="#">
            <span class="top_text">GET IN ON</span>
            <span class="bottom_text">Google Play</span>
          </a>
        </button>
        <button class="btn_apple">
          <img src=".//img/svg/Apple_logo.svg" alt="" />
          <a href="#">
            <span class="top_text">Download on the</span>
            <span class="bottom_text">App Store</span>
          </a>
        </button>
      </div>
    </div>
  </div>
  <div class="mobile_block">
    <div class="mobile_item_1">
      <img src=".//img/pictures/mobille_2.png" alt="" />
    </div>
    <div class="mobile_item_2">
      <img src=".//img/pictures/mobille_3.png" alt="" />
    </div>
  </div>
</section>
