<section class="section_real_stories">
  <div class="left_block">
    <div class="text_real_stories">
      <img src=".//img/symbol/big_quote_mark.svg" alt="" />
      <img src=".//img/symbol/big_quote_mark.svg" alt="" />
      <h2>Real Stories from Real Customers</h2>
      <p>Get inspired by these stories.</p>
    </div>
    <div class="block_company">
      <img src=".//img/pictures/logo_company/logo_2.png" alt="" />
      <div class="block_company_text">
        <p>
          <img src=".//img/symbol/small_quote_mark.svg" alt="" />
          To quickly start my startup landing page design, I was looking for a
          landing page UI Kit. Landify is one of the best landing page UI kit I
          have come across. It’s so flexible, well organised and easily
          editable.
        </p>
        <p>Floyd Miles</p>
        <p>Vice President, GoPro</p>
      </div>
    </div>
  </div>
  <div class="right_block">
    <div class="block_company">
      <img src=".//img/pictures/logo_company/logo_1.png" alt="" />
      <div class="block_company_text">
        <p>
          <img src=".//img/symbol/small_quote_mark.svg" alt="" />
          I used landify and created a landing page for my startup within a
          week. The Landify UI Kit is simple and highly intuitive, so anyone can
          use it.
        </p>
        <p>Jane Cooper</p>
        <p>CEO, Airbnb</p>
      </div>
    </div>
    <div class="block_company">
      <img src=".//img/pictures/logo_company/logo_7.png" alt="" />
      <div class="block_company_text">
        <p>
          <img src=".//img/symbol/small_quote_mark.svg" alt="" />
          Landify saved our time in designing my company page.
        </p>
        <p>Kristin Watson</p>
        <p>Co-Founder, Strapi</p>
      </div>
    </div>
  </div>
</section>
