<section class="section_tailor_made_features">
  <div class="tailot_text_block">
    <h2>Tailor-made features</h2>
    <p>
      Lorem ipsum is common placeholder text used to demonstrate the graphic
      elements of a document or visual presentation.
    </p>
  </div>

  <div class="tailor_item">
    <div class="tailor_row_item">
      <div class="icon">
        <img src=".//img/pictures/section_tailor_icon/icon_1.svg" alt="" />
      </div>
      <h2>Robust workflow</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>
    <div class="tailor_row_item">
      <div class="icon">
        <img src=".//img/pictures/section_tailor_icon/icon_2.svg" alt="" />
      </div>
      <h2>Flexibility</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>
    <div class="tailor_row_item">
      <div class="icon">
        <img src=".//img/pictures/section_tailor_icon/icon_3.svg" alt="" />
      </div>
      <h2>User friendly</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>

    <div class="tailor_row_item">
      <div class="icon">
        <img src=".//img/pictures/section_tailor_icon/icon_4.svg" alt="" />
      </div>
      <h2>Multiple layouts</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>
    <div class="tailor_row_item">
      <div class="icon">
        <img src=".//img/pictures/section_tailor_icon/icon_5.svg" alt="" />
      </div>
      <h2>Better components</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>
    <div class="tailor_row_item">
      <div class="icon">
        <img src=".//img/pictures/section_tailor_icon/icon_6.svg" alt="" />
      </div>
      <h2>Well organised</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh
        tristique ipsum.
      </p>
    </div>
  </div>
</section>
